*.git
*.gitignore
*.env
*.env.*
!.env-docker
node_modules
vendor
storage/logs/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
*.zip
*.tar
*.gz 